{% extends "layout/head.html" %}
{% block title %} {{ super() }} 마이 페이지 {% endblock %}
{% block link %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    .top {font-family: 'Gamja Flower', cursive;}

    .wrap {
        text-align: left;
    }

    h1 {
    font-size: 36px;
    text-align: center;
  
    }

    #stuff{
    display: grid;
    grid-template-columns: 1fr;
    width: 500px;
    margin: auto;
    
    }
    .top .title{
    font-size: 60px;
    text-align: center;
    }
    .main{
    padding: 50px 150px;
    }
    .main .tfield{
    width:500px;
    margin:auto;
    padding: 10px 0px;
    }
    .main .control01{
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    }
    .main .control01 #input01{
    width: 400px;
    }
    .main .control01 .button{
    width: 80px;
    }
    .main .main01 .field .label{
    font-weight: bold;
    font-size: 23px;
    padding-bottom: 20px;
    } 
    
    .main .main002{
    padding: 10px;
    
    }
    .bottom{
    padding: 20px 10px;
    
    }.bottom .control{
    padding: 10px;
    
    }
</style>
<script>
    function logout() {     // 서버에 로그아웃 요청을 보내고 성공하면 로컬 스토리지 또는 쿠키에서 토큰을 삭제하고 로그아웃 처리
        $.ajax({
            type: "POST",
            url: "/mypage/logout",
            success: function (response) {
            if (response["result"] == "success") {
                // 로컬 스토리지 또는 쿠키에서 토큰을 삭제
                // $.cookie('mytoken', null);
                alert("로그아웃 되었습니다.");
                window.location.href = '/';
            }
            }
        });
    }

    function edit() {
        let pw = $("#pw").val();

        $.ajax({
        type: "POST",
        url: "/mypage/edit",
        data: {
            'pw_give': pw,
        },
        success: function(response) {
            if (response["result"] == "success") {
            alert("수정완료 되었습니다.");
            window.location.href = '/'
            }
        }
        });
    }
    function cancel(){
        window.location.href = '/'
        }
    
    function del_id(){
    $.ajax({
            type: 'POST',
            url: '/mypage/delete',
            data: {},
            success: function (response) {
                if (response['result'] == 'success'){
                    alert('회원탈퇴 완료!');
                    window.location.href = '/login';
                    }
                }
            });

    }
</script>
{% endblock %}
{% block content %}
<div style="display: flex; flex-direction: column; align-items: center; width: 100%" class="wrap">
    <h1 style="font-size: 32px;">My Page</h1>
    <div class="list-item-image">
        <figure class="image is-128x128">
            <img class="is-rounded" id="uploaded-image" src="{{user_info.url}}">
        </figure>
    </div>
<div class="main">
    <div id="main01" class="main01">
        <div class="tfield">
            <label class="label">이름</label>
            <div class="control">
                <input id="id" class="input" type="text" value="{{user_info.name}}" readonly>
            </div>
        </div>
        <div class="tfield">
            <label class="label">ID</label>
            <div class="control">
                <input id="id" class="input" type="text" value="{{user_info.id}}" readonly>
            </div>
        </div>
        <div class="tfield">
            <label class="label">PW</label>
            <div class="control">
            <input id="pw" class="input" type="text" value="{{user_info.pw}}">
            </div>
        </div>
    </div>
</div>
<div class="bottom">
    <div class="field is-grouped" style="justify-content: center;">
        <div class="control">
        <button class="button is-info" onclick="edit()">수정</button>
        </div>
        <div class="control">
        <button class="button is-info is-light" onclick="cancel()">취소</button>
        </div>
        <div class="control">
        <button class="button is-info is-light" onclick="logout()">로그아웃</button>
        </div>
        <div class="control">
            <button style="background-color: red;" class="button is-info is-outlined" onclick="del_id()">회원탈퇴</button>
        </div>  
    </div>
</div>
</div>
{% endblock %}