{% extends "layout/head.html" %} {% block title %} {{ super() }} 알림 상세
페이지 {% endblock %} {% block content %}

<div class="card g-0">
  <img
    src="{{ notificationdetail.url}}"
    class="card-img-top"
    alt="$({{notificationdetail.giftname}})"
  />
  <div clas="card-body"></div>
</div>
<article class="message is-success" style="margin-top: 5px">
  <div class="message-header">
    <p style="font-size: 1.2rem">
      {{notificationdetail.gift.name}} - {{notificationdetail.sender.name}}
    </p>
  </div>
  <div style="font-size: 1rem" class="message-body">
    {{notificationdetail.gift.description}}
  </div>
</article>
<div class="d-grid gap-2">
  <div
    class="btn-group"
    role="group"
    aria-label="Basic mixed styles example"
    style="font-size: 1rem; margin: 0px 80px"
  >
    <button
      type="button"
      class="btn btn-success"
      onclick="location.href='/received_gift'"
    >
      수락
    </button>
    <button
      type="button"
      class="btn btn-danger"
      onclick="history.back()"
      class="btn btn-primary"
    >
      거절
    </button>
  </div>
</div>

{% endblock %}
