{% extends "layout/head.html" %} {% block title %} {{ super() }} 알림 목록 {%
  endblock %}
    
  {% block head %}
  
    <div class="group_head">
      <a href="javascript:window.history.back();" class="icoback"><span class="ico_common ico_back"></span></a>
      <h1 class="title">알림 목록</h1>
      <nav class="_navbar">
        <a href="/mypage"><span class="ico_common ico_mypage"></span></a>
        <a href="/notification" onclick="location.href='notification.html'"><span class="ico_common ico_notification"></span></a>
        <a href="/received_gift" onclick="location.href='received_gift.html'"><span class="ico_common ico_gift"></span></a>
      </div>
    </div>
  {% endblock %}
    
    
  {% block content %}
  <div class="list">
    {%for one_notification in notifications%}
    <div style="cursor:pointer;" class="list-item" onclick=location.href='{{url_for("notification.notification_detail",notif_id=one_notification._id)}}'>
      
            <!-- 내가 보낸 선물인 경우 -->
            {% if(one_notification.sndusrid == 2) %}>  <!--my_id=2 토큰 대체-->
            <div class="list-item-image">
              <figure class="image is-64x64">
                <img class="is-rounded" src="{{one_notification.rcvusrimg}}">
              </figure>
            </div>
            <div class="list-item-content" >
              <div class="list-item-title">{{one_notification.rcvusrname}}</div>
              
              <!-- 상대방이 확인하고 수락한 경우-->
              {% if((one_notification.ischeck==1)and(one_notification.isaccept==1)): %}
              <div class="list-item-description" style="margin-left:50px">님이 {{one_notification.giftname}} 선물을 수락했습니다.</div>
      
              <!-- 상대방이 확인하고 거절한 경우-->
              {% elif((one_notification.isccheck==1) and (one_notification.isccheck==0)):%}
              <div class="list-item-description" style="margin-left:80px">님이 {{one_notification.giftname}} 선물을 거절했습니다.</div>
              
              {% else %}
              <div class="list-item-description" style="margin-left:80px">error: notification_status</div>
              {% endif %}
            </div>
      
            <!-- 내가 받은 선물인 경우 -->
            {% elif(one_notification.rcvusrid == 2) %} <!-- myid=2 -->
            <div class="list-item-image">
              <figure class="image is-64x64">
                <img class="is-rounded" src="{{one_notification.sndusrimg}}">
              </figure>
            </div>
            <div class="list-item-content">
              <div class="list-item-title">  {{one_notification.sndusrname}}</div>
              
              <!-- 내가 확인하지 않은 경우-->
              {% if(one_notification.ischeck==0) %}
              <div class="list-item-description" style="margin-left:80px">님으로부터 {{one_notification.giftname}} 선물이 도착했습니다.</div>        
              
              <!-- 내가 확인한 경우 -->
              {% elif(one_notification.ischeck==1) %}
              <div class="list-item-description" style="margin-left:80px">님의 선물을 확인했습니다.</div>
      
              {% else %}
              <div class="list-item-description" style="margin-left:80px">error: notification_isaccept_status</div>
              
              {% endif %}
            </div>
      
            {%else%}
            <div class="list-item-title">ERROR</div>
            <div class="list-item-description" style="margin-left:80px">rcv/snd usr</div>
            {% endif %}
          {% endfor %}
        </div>
      {% endblock %}