{% extends "layout/head.html" %} {% block title %} {{ super() }} 알림 목록 {%
  endblock %}
    
  {% block head %}
    <div class="group_head">
      <i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i>
      <h1 class="title"><a href="#">알림 목록</a></h1>
      <nav class="navbar">
        <a href="#notification"><span class="ico_common ico_notification"></span></a>
        <a href="#received_gift"><span class="ico_common ico_present"></span></a>
      </div>
    </div>
  {% endblock %}
    
    
  {% block content %}
  <div class="list">
    <div style="cursor:pointer;" class="list-item" onclick=location.href='{{url_for("notification.notification_detail",notif_id=10)}}'>
      <div class="list-item-image">
        <figure class="image is-64x64">
          <img class="is-rounded" src="https://via.placeholder.com/128x128.png?text=Image">
        </figure>
      </div>
  
      <div class="list-item-content">
        <div class="list-item-title">김 훈 이</div>
        <div class="list-item-description">{{notifications[0]['giftname']}}을 선물했습니다.</div>
      </div>
    </div>
  
    <div class="list-item">
      <div class="list-item-image">
        <figure class="image is-64x64">
          <img class="is-rounded" src="https://via.placeholder.com/128x128.png?text=Image">
        </figure>
      </div>
  
      <div class="list-item-content">
        <div class="list-item-title">List item</div>
        <div class="list-item-description">List item description</div>
      </div>
    </div>
  
    <div class="list-item">
      <div class="list-item-image">
        <figure class="image is-64x64">
          <img class="is-rounded" src="https://via.placeholder.com/128x128.png?text=Image">
        </figure>
      </div>
  
      <div class="list-item-content">
        <div class="list-item-title">List item</div>
        <div class="list-item-description">List item description</div>
      </div>
    </div>
  {% endblock %}