{% extends "layout/head.html" %}
{% block title %} {{ super() }} 회원가입 {% endblock %}
{% block link %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
<script src="http://code.jquery.com/jquery-latest.js"></script> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<style>
h1 {
    font-size: 36px;
    text-align: center;
  }
</style>

<script>   
    function postData() {
        let name = $("#name").val();
        let id = $("#input01").val();
        let pw = $("#pw").val();
        let pwConfirm = $("#pwConfirm").val();

        if (pw !== pwConfirm) {
            alert("비밀번호가 일치하지 않습니다.");
            return;
        }

        if (!name || !id || !pw || !pwConfirm) {
            alert("모든 필수 항목을 기재해야 합니다.");
            return;
        }
        $.ajax({
            type: "POST",
            url: "/sign",
            data: {
            id_give: id,
            pw_give: pw,
            name_give: name
            },
            success: function(response) {
            if (response["result"] == "success") {
                alert("회원가입 성공");
                window.location.href = '/login'
            } else {
                alert(response['msg']);
            }
            }
        });
    }
    function cancel(){
        window.location.href = '/login'
    }

    function checkID(){
          let id = $("#input01").val();
          $.ajax({
            type: "POST",
            url: "/sign/check",
            data: {id_give: id},
            success: function(response){
              if (response["result"] == "success"){
                alert('사용 가능합니다.');
            } else {
                alert(response['msg']);
              }
              }
            });
          }
</script>
{% endblock %}
{% block content %}
<h1>회원가입</h1>
<section>
    <label class="label">이름</label>
        <input id="name" class="input" type="text" placeholder="이름">
    <label class="label">ID</label>
        <input id="input01" class="input" type="text" placeholder="ID">
        <button class="button is-info" onclick="checkID()">중복 확인</button>
    <label class="label">PW</label>
        <input id="pw" class="input" type="password" placeholder="PW">
    <label class="label">비밀번호 확인</label>
        <input id="pwConfirm" class="input" type="password" placeholder="비밀번호 확인">
</section>

<section>
    <button class="button is-info" onclick="postData()">가입</button>
    <button class="button is-info is-light" onclick="cancel()">취소</button>
</section>

{% endblock %}